<div class="col-md-4 col-md-offset-3 userProfile">
	<form name="editPlannerForm" novalidate>
		<div class="form-group">
			<label for="username">User Name</label> 
			<input type="text" name="username" ng-model="selectedPlanner.username" value="{{selectedPlanner.username}}" class="form-control" />
		</div>
		<div class="form-group">
			<label for="firstName">First Name</label> 
			<input type="text" name="firstName" ng-model="selectedPlanner.firstName" value="{{selectedPlanner.firstName}}" class="form-control" />
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label> 
			<input type="text" name="lastName" ng-model="selectedPlanner.lastName" value="{{selectedPlanner.lastName}}" class="form-control" />
		</div>
		<div class="form-group"> 
			<label for="phoneNumber">Phone Number</label> 
			<input type="text" name="phoneNumber" ng-model="selectedPlanner.phone" value="{{selectedPlanner.phone}}" class="form-control" />
		</div>
		<div class="form-group"> 
			<label for="email">Email Id</label> 
			<input type="text" name="email" ng-model="selectedPlanner.email" value="{{selectedPlanner.email}}" class="form-control"/>
		</div>
		<div class="form-group"> 
			<label for="role">Role</label>
			
				<select class="form-control" ng-model="selectedPlanner.role" id="markdown-market-filter"
						ng-options="role as role for role in roles"></select>
		</div>
		<div class="form-actions col-md-offset-4">
			<button ng-click="updatePlanner()" type="submit" class="btn btn-success">Save</button>
			<button ng-click="reset()" type="submit" class="btn btn-warning">Reset</button>
		</div>
	</form>
</div>