.userProfile {
	font-size: initial;
}

.take-all-space-you-can {
	width: 14.25%;
}

.company-buttons {
	margin: 5px;
	width: 150px;
}

.companyProfile {
	font-size: large;
	font-family: serif;
}

.radio-column {
	width: 2%;
}

a.back {
	float: right;
}

.side-tray {
	width: 20%;
	height: 100%;
	float: left;
}

.content-container {
	width: 80%;
	height: 100%;
	float: right;
}