<h3 class="col-md-offset-5">Customer</h3>
<div class="col-md-4 col-md-offset-4 userProfile">

	<form>
		<div class="form-group">
			<label for="username">Name</label> 
			<input type="text" name="username" value="" class="form-control" />
		</div>
		<div class="form-group">
			<label for="number">Customer Number</label> 
			<input type="text" name="number" value="" class="form-control" />
		</div>
		<div class="form-group"> 
			<label for="phoneNumber">Customer Ph.No.</label> 
			<input type="text" name="phoneNumber" value="" class="form-control" />
		</div>
		<div class="form-group"> 
			<label for="address">Address</label> 
			<textarea rows="4" name="Address" value="" class="form-control"></textarea>
		</div>
		<div class="form-actions col-md-offset-4">
			<button ng-click="" type="submit" class="btn btn-primary">Edit</button>
			<button ng-click="" type="submit" class="btn btn-primary">Add</button>
			<button ng-click="" type="submit" class="btn btn-primary">Delete</button>
		</div>
		<div>{{message}}</div>
	</form>

</div>